.contact {
    padding-top: $nav-height;
    &-container {
        background: rgba(245, 245, 245, 0.93);
    }
    &-group {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        padding: 10px;
        margin-bottom: 50px;
    }
    &-title {
        @include set-text-title();
    }
    &-item {
        width: 100%;

        &-data {
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
        }
    }
}
